<div class="new-photo-galeries">
     <%=form_with model:@galery, local:true do |f|%>
       <div class="container-subtitle-image">
       <br>
        <%=f.label :subtitulo%>
        <br>
        <%=f.text_field(:subtitulo) %>
        <br>
       </div>
       <br>
       <div class="container-galery-image-new">
            <%=f.file_field(:image)%>
            <div class="form-image-container-galeries">
            <%= image_tag 'message.png' %>
            </div>
        </div>

         <hr>

        <div class="container-save-form-galeries">
        <%=f.submit 'Guardar', :class =>'save' %>
        </div>
     <%end%>
</div>