<div style="    
        position: absolute;
        width: -webkit-fill-available;
">
 <%= render partial: './general/nav', layout: './general/nav' %>
    <div class="container-Perfils-new">
     <div class="nav-perfil-images-cuentas">
        <div>
            <%= image_tag 'icon.svg'%>  <a href="/perfils/new">Perfil</a>
        </div>
        <br>
        <div>
            <%= image_tag 'icon.png' %> <a href="/galeries">Imagenes</a>
        </div>
        <br>
        <div>
            <%= image_tag 'iconCuentas.svg' %> <a href="/bank_accounts">Cuentas</a>
        </div>
        <br>
     </div>
    </div>

    <div class="container-list-account-index">
     <h1  class="h1-list-image-text">Listado de Imagenes</h1>

     <div class="addAccount-index">
        <a href="/galeries/new" class="crear-text-a">Crear</a>
     </div>

    </div>

    
     <div class="container-images-galeries">
   <%@galeries.each_with_index do |photo,index|%>
            <div class="image-galeries">
            <%= link_to edit_galery_path(photo) do%>
                <%=image_tag(photo.image, :class =>'image-galeries') %>
            <%end%>
            </div>
       
    <%end%>  
    </div>
</div>