 <%= render partial: './nav', layout: './nav' %>
 <%= render partial: './nav_desktop', layout: './nav_desktop'%>
<div>
    <div class="container-list-account-index">
     <h1  class="h1-list-image-text">Listado de Imagenes</h1>

     <div class="addAccount-index">
     <%= link_to 'Crear', new_perfil_galery_path, :class=>"crear-text-a" ,method: :get %>
     </div>
    </div>

    
     <div class="container-images-galeries">
   <%@galeries.each_with_index do |photo,index|%>
            <div class="image-galeries">
            <%= link_to galery_path(photo) do%>
                <%=image_tag(photo.image, :class =>'image-galeries') %>
            <%end%>
            </div>
    <%end%>  
    </div>
</div>