<div>
        <nav class="class_movile">
           <%= image_tag 'exit_image.png', :id => "exit-menu-movile" %>
            <div class="ABC_movile"><p>A&B</p></div>
             <div class="container_link_movile_nav">
                <%= link_to 'Perfil', perfil_path(current_user.id,@perfil),:class=>"link_movile_nav" %>
             </div>

            <div class="container_link_movile_nav">
             <%= link_to 'Imagenes', perfil_galeries_path(current_user.id,@perfil), :class=>"link_movile_nav"%> 
            </div>
            <div class="container_link_movile_nav">
          <%= link_to 'Cuentas', perfil_bank_accounts_path(current_user.id,@perfil), :class=>"link_movile_nav" %>
            </div>
            <div class="container_link_movile_nav"><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class=>"link_movile_nav"%></div>
        </nav>

  
   <nav  class="navCreateUsuario">
        <%= image_tag 'Header.png', :class => "burguer", :id=>'menu-burger'%>
        <div class="logoAB-profile">
            <p class="p-logoAb">A&B</p>
        </div>
        <div class="profile">
            <%=image_tag(User.find_by(id: params[:id]).perfil.image, :class=>"image-profile")%>
            <h1 class="name-user"><%=User.find_by(id: params[:id]).perfil.full_name%></h1>
        </div>
    </nav>
</div><!--<div class="image-profile"></div> angel Gonzalez-->