
  <%=render partial: 'nav_logout', layout: 'nav_logout'%>
  <div class="container-biografia-perfil">
     <p class="biography"><%=Perfil.find_by(id: params[:id]).biografia%></p>
  </div>
<% if @states.length > 0 %>
  <div class="index-galery">
    <div id="myCarousel" class="carousel slid carousel-fade" data-ride="carousel" data-interval="false">  
      <div class="carousel-inner">
        <%@states.each_with_index do |states,i|%>
            <%if i == 0%>
              <div class="item active">
                  <%= image_tag(states.image, :class=>"photos-state") %>
              </div>
            <%else%>
              <div class="item">
                  <%= image_tag(states.image, :class=>"photos-state") %>
              </div>
            <%end%>
        <%end%>
      </div>
    </div> 
  </div>


  <div class="container-carrucel">
    <div class="carousel-indicators" id="carousel-indicators">
        <a class="carousel-control" href="#myCarousel" data-slide="prev">
          <%= image_tag 'Back.png', :class=>"back-image-carrucel", :id=>'back-carrucel-state' %>
        </a>
        <div class="index-image-carrucel-container">
          <%@states.each_with_index do |states,i|%>
           <%if i < 7 %>
              <%if i == 0%>
                <p data-target="#myCarousel" data-slide-to=<%="#{i}"%> id="mark-index-states" class="index-states follower-state active"><%="#{i}"%></p>
              <%else%>
                <p data-target="#myCarousel" data-slide-to=<%="#{i}"%> class="index-states follower-state"><%="#{i}"%></p>  
              <%end%>
           <% end %>
          <%end%>
        </div>
        <a class="carousel-control" href="#myCarousel" data-slide="next">
          <%= image_tag 'next.png', :class=>"next-image-carrucel", :id=>'next-carrucel-state' %>
        </a>
      </div>
    </div>  
  <% else %>
   <div class="index-galery index-galery-login text-aling-not-state found-index not-loged">
       <p>No tiene estados para mostrar</p>
   </div>
  <% end %>
    <!--////////////////////////////////////////////////////////////////-->

  <% if @thankPerfil.length > 0 %>
    <div class="index-thanks">
    <div id="myCarouselThanks" class="carousel carousel-fade" data-ride="carousel" data-interval="false">  
      <div class="carousel-inner">
        <%@thankPerfil.each_with_index do |thanks,i|%>
            <%if i == 0%>
              <div class="item active">
                <%if thanks.coffe%>
                 <div class="container-coffe-image-thank">
                    <p class="name-thank"><strong><%=thanks.name%></strong></p>
                    <%= image_tag 'coffe.png', :class=>"coffe-thanks" %>
                    <p class="value-coffes-or-hug-thank"><%=thanks.value_coffes%></p>
                 </div>
                <% else %>
                 <div class="container-thanks-image-thank"> 
                  <p class="name-thank"><strong><%=thanks.name%></strong></p>
                   <%= image_tag 'heart.png'%>
                  <p class="value-coffes-or-hug-thank"><%=thanks.hug%></p> 
                 </div>                
                <% end %>
                 <br>
                 <p><%=thanks.ocupacion%></p>
                 <br>
                 <p class="message-thanks"><%=thanks.message%></p>
              </div>
            <%else%>
              <div class="item">
                <%if thanks.coffe%>
                 <div class="container-thanks-image-thank">
                    <p class="name-thank"><strong><%=thanks.name%></strong></p>
                    <%= image_tag 'coffe.png', :class=>"coffe-thanks" %>
                    <p class="value-coffes-or-hug-thank"><%=thanks.value_coffes%></p>
                 </div>
                <% else %>
                 <div class="container-thanks-image-thank"> 
                  <p class="name-thank"><strong><%=thanks.name%></strong></p>
                   <%= image_tag 'heart.png',:class=>"hug-thanks" %>
                  <p class="value-coffes-or-hug-thank"><%=thanks.hug%></p> 
                 </div>                
                <% end %>
                 <br>
                 <p><%=thanks.ocupacion%></p>
                 <br>
                 <p class="message-thanks"><%=thanks.message%></p>
            </div>
            <%end%>
   
        <%end%>
      </div>
    </div> 
  </div>


  <div class="container-carrucel-states">
    <div class="carousel-indicators" id="carousel-indicators-thanks">
        <a class="carousel-control" href="#myCarouselThanks" data-slide="prev">
          <%= image_tag 'Back.png',:id=>'back-carrucel-thanks', :class=>"back-image-carrucel back-carrucel"%>
        </a>
        <div class="index-image-carrucel-container">
          <%@thankPerfil.each_with_index do |states,i|%>
            <% if i < 7 %>
                <%if i == 0%>
                <p data-target="#myCarouselThanks" data-slide-to=<%="#{i}"%> id="mark-index-thanks"  class="index-states follower-thanks active"><%="#{i}"%></p>
              <%else%>
                <p data-target="#myCarouselThanks" data-slide-to=<%="#{i}"%> class="index-states follower-thanks"><%="#{i}"%></p>  
              <%end%>
            <% end %> 
          <%end%>
        </div>
        <a class="carousel-control" href="#myCarouselThanks" data-slide="next">
          <%= image_tag 'next.png',:id=>'next-carrucel-thanks', :class=>"next-image-carrucel next-carrucel"  %>
        </a>
      </div>
    </div>   
    <% else %>
          <div class="index-thanks index-galery-login text-aling-not-state margin-thanks-null not-loged">
            <p>No tiene agradecimientos para mostrar</p>
          </div> 
  <% end %>

  <%if @editOrNot%>
      <div class="link-thanks-new margin-not-found-not-loged">
        <%= link_to 'Editar perfil', edit_perfil_path(@perfil), :class=>"link-thank-new-color" %>
      </div>
  <% else %>
      <div class="link-thanks-new margin-not-found-not-loged">
        <%= link_to 'Agradecer', new_perfil_thank_path(@perfil), :class=>"link-thank-new-color" %>
      </div>
  <% end %>     
 