 <%= render partial: './general/nav', layout: './general/nav' %>
<div>
    <div class="container-Perfils-new">

     <div class="nav-perfil-imanes-cuentas">
     
      <div>
      <%if !@perfils  %>
         <%= image_tag 'icon.svg'%>  <a href="/perfils/new">Perfil</a>
      <%else%>
          <%= image_tag 'icon.svg'%>  <a href="/perfils/edit">Perfil</a>
      <% end %>
      </div>
      <br>
      <div>
        <%= image_tag 'icon.png' %> <a href="/galeries">Imagenes</a>
      </div>
      <br>
      <div>
       <%= image_tag 'iconCuentas.svg' %> <a href="/bank_accounts">Cuentas</a>
      </div>
     <br>
     </div>
<div class="container-publicar-perfil">
    <h1 class="perfil-usuario-text-on-perfil">Perfil Del Usuario</h1>
    <div>
    <%= image_tag 'Switch_Off.png' %>
    <p style="width: 107px;height: 9px;left: 1263px;top: 151px;font-family: Roboto;font-style: normal;font-weight: 300;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: right;color: #434242;">
    Despublicar perfil</p>
    </div>
</div>
<%= render partial: 'form_perfil', layout:'form_perfil'%>
</div>