<div data-context="perfil--nav">

 <%if user_signed_in?%>
    <%= render partial: 'nav_login', layout: 'nav_login'%>
    <%= render partial: './nav_desktop', layout: './nav_desktop'%>
    <div class="container-biografia-perfil">
     <p style="height: 100%;"><%=Perfil.find_by(id: params[:id]).biografia%></p>

   <!--<p>Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Cum totam adipisci cupiditate deserunt eius 
        id voluptates sint voluptatum accusantium cumque? Pariatur
        commodi esse accusantium laudantium delectus tempore ea aliquid assumenda.                    <div class="container-image-show">
                        
                        
                    </div></p>
-->  
    </div>
 <% if @states.length > 0 %>
  <div class="index-galery">
    <div id="myCarousel" class="carousel carousel-fade" data-ride="carousel" data-interval="false">  
      <div class="carousel-inner">
        <%@states.each_with_index do |states,i|%>
            <%if i == 0%>
              <div class="item active">
                  <%= image_tag(states.image, :class=>"photos-state") %>
              </div>
            <%else%>
              <div class="item">
                  <%= image_tag(states.image, :class=>"photos-state") %>
              </div>
            <%end%>
        <%end%>
      </div>
    </div> 
  </div>

  <div class="container-carrucel">
    <div class="carousel-indicators">
        <a class="carousel-control" href="#myCarousel" data-slide="prev">
          <%= image_tag 'Back.png', :class=>"back-image-carrucel", :id=>'back-carrucel' %>
        </a>
        <div class="index-image-carrucel-container">
          <%@states.each_with_index do |states,i|%>
              <%if i == 0%>
                <p data-target="#myCarousel" data-slide-to=<%="#{i}"%> class="index-states active"><%="#{i}"%></p>
              <%else%>
                <p data-target="#myCarousel" data-slide-to=<%="#{i}"%> class="index-states"><%="#{i}"%></p>  
              <%end%>
          <%end%>
        </div>
        <a class="carousel-control" href="#myCarousel" data-slide="next">
          <%= image_tag 'next.png', :class=>"next-image-carrucel", :id => 'next-carrucel' %>
        </a>
      </div>
    </div>    
  <% end %>
    <!--////////////////////////////////////////////////////////////////-->
  <% if @thankPerfil.length > 0 %>
    <div class="index-galery">
    <div id="myCarouselThanks" class="carousel carousel-fade" data-ride="carousel" data-interval="false">  
      <div class="carousel-inner">
        <%@thankPerfil.each_with_index do |states,i|%>
            <%if i == 0%>
              <div class="item active">
             
              </div>
            <%else%>
              <div class="item">

              </div>
            <%end%>
        <%end%>
      </div>
    </div> 
  </div>

  <div class="container-carrucel">
    <div class="carousel-indicators">
        <a class="carousel-control" href="#myCarouselThanks" data-slide="prev">
          <%= image_tag 'Back.png', :class=>"back-image-carrucel", :id=>'back-carrucel' %>
        </a>
        <div class="index-image-carrucel-container">
          <%@thankPerfil.each_with_index do |states,i|%>
              <%if i == 0%>
                <p data-target="#myCarouselThanks" data-slide-to=<%="#{i}"%> class="index-states active"><%="#{i}"%></p>
              <%else%>
                <p data-target="#myCarouselThanks" data-slide-to=<%="#{i}"%> class="index-states"><%="#{i}"%></p>  
              <%end%>
          <%end%>
        </div>
        <a class="carousel-control" href="#myCarouselThanks" data-slide="next">
          <%= image_tag 'next.png', :class=>"next-image-carrucel", :id => 'next-carrucel' %>
        </a>
      </div>
    </div>   
  <% end %>
  
  <%if @editOrNot%>
      <div class="link-thanks-new">
        <%= link_to 'Editar perfil', edit_perfil_path(@perfil), :class=>"link-thank-new-color" %>
      </div>
  <% else %>
      <div class="link-thanks-new">
        <%= link_to 'Agradecer', new_perfil_thank_path(@perfil), :class=>"link-thank-new-color" %>
      </div>
  <% end %>


 <%else%>
        <%=render partial: 'nav_logout', layout: 'nav_logout'%>
 <% end %>



</div>