<div data-context="perfil--nav">

 <%if user_signed_in?%>
    <%= render partial: 'nav_login', layout: 'nav_login'%>
    <%= render partial: './nav_desktop', layout: './nav_desktop'%>
    <div class="container-biografia-perfil">
     <p style="height: 100%;"><%=Perfil.find_by(id: params[:id]).biografia%></p>

   <!--<p>Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Cum totam adipisci cupiditate deserunt eius 
        id voluptates sint voluptatum accusantium cumque? Pariatur
        commodi esse accusantium laudantium delectus tempore ea aliquid assumenda.                    <div class="container-image-show">
                        
                        
                    </div></p>
-->  
    </div>

           <div class="index-galery">
            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">  
                <div class="carousel-inner">
                  <%@states.each_with_index do |states,i|%>
                    <%if i == 0%>
                    <div class="item active">
                       <%= image_tag(states.image, :class=>"photos-state") %>
                    </div>
                    <%else%>
                    <div class="item">
                       <%= image_tag(states.image, :class=>"photos-state") %>
                    </div>
                    <%end%>

                  <%end%>
                </div>

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left"></span>
                 <span class="sr-only">Previous</span>
                </a>

                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>

            </div> 
          </div>



        <div class="container-carrucel">
           <div class="carousel-indicators">
            <%= image_tag 'Back.png', :class=>"back-image-carrucel", :id=>'back-carrucel' %>
             <div class="index-image-carrucel-container">
              <%@states.each_with_index do |states,i|%>
                <%if i == 0%>
                  <p data-target="#myCarousel" data-slide-to=<%="#{i}"%> class="index-states active"><%="#{i}"%></p>
                <%else%>
                  <p data-target="#myCarousel" data-slide-to=<%="#{i}"%> class="index-states"><%="#{i}"%></p>  
                <%end%>

              <%end%>
            </div>
            <%= image_tag 'next.png', :class=>"next-image-carrucel", :id => 'next-carrucel' %>
            </div>
        </div>
<!--
  <div class="container-carrucel">
    <div class="carousel-indicators">
      <%= image_tag 'Back.png', :class=>"back-image-carrucel", :id=>'back-carrucel' %>
        <div class="index-image-carrucel-container">
          <%@states.each_with_index do |states,i|%>
          
            <%if i == 0%>
              <p data-target="#carouselExampleIndicators" data-slide-to=<%="#{i}"%> class="active"><%="#{i}"%></p>
            <%else%>
              <p class="index-states" data-target="#carouselExampleIndicators" data-slide-to=<%"#{i}"%>><%="#{i}"%></p>  
            <%end%>

          <%end%>
        </div>
      <%= image_tag 'next.png', :class=>"next-image-carrucel", :id => 'next-carrucel' %>
    </div>  
  </div>

    -->




    

    <%else%>
        <%=render partial: 'nav_logout', layout: 'nav_logout'%>
    <% end %>



</div>