<div>
 <%if user_signed_in?%>
    <%= render partial: 'nav_login', layout: 'nav_login'%>
    <%= render partial: './nav_desktop', layout: './nav_desktop'%>
    <div class="container-biografia-perfil">
     <p><%=Perfil.find_by(id: params[:id]).biografia%></p>

   <!--<p>Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Cum totam adipisci cupiditate deserunt eius 
        id voluptates sint voluptatum accusantium cumque? Pariatur
        commodi esse accusantium laudantium delectus tempore ea aliquid assumenda.</p>
-->  

    </div>
           <div class="index-galery">
            <div class="container-photos-states">   



               <div class="container-image-show">
              
                </div>
             

              


           
            <!--
            
<%= hidden_field_tag "galeries", Perfil.find_by(id: params[:id]).galery,{ "data-galeriesAll" => Perfil.find_by(id: params[:id]).galery} %>
 <%Perfil.find_by(id: params[:id]).galery.each_with_index do |states,i|%>

  <%= image_tag(states.image, :class=>"photos-state") %>
                    <p><%= states.subtitulo%></p>

  <%end%>
            <%= image_tag(Perfil.find_by(id: params[:id]).galery[0].image, :class=>"photos-state") %>
              <p><%=Perfil.find_by(id: params[:id]).galery[0].subtitulo%></p>
            <%Perfil.find_by(id: params[:id]).galery.each_with_index do |photo,i|%>
            <div>
                <%= image_tag(photo.image) %>
                
                <p><%="#{i}"%></p>
            </div>
            <% end %>
  -->
          
     </div> 
</div>

  

    




    

    <%else%>
        <%=render partial: 'nav_logout', layout: 'nav_logout'%>
    <% end %>



</div>