<div class="container-create-new-bankAccount">
  <div class="container-form-bankAccount">
  <%=form_with model:@bank_account, local:true do |f| %>
  <div>
  <br>
  <%=f.label :entidad%>
  <%=f.text_field :entidad%>
  <br>
  </div>

  <div>
  <br>
  <%=f.label :email%>
  <%=f.text_field :email%>
  <br>
  </div>
  <div>
  <br>
  <%=f.label :cuenta%>
  <%=f.number_field :account%>
  <br>
  </div>
  <div>
  <br>
  <%=f.label :identificacion%>
  <%=f.number_field :identification%>
  <br>
  </div>
  <div>
  <br>
  <%=f.label :tipo_de_cuenta%>
  <%=f.text_field :typeAccount%>
  <br>
  <div>

  <div style="margin-left: 70%;
    width: 13%;
    position: absolute;
    margin-top: 17%;">
    <%=f.submit 'Guardar', :class =>'save'%>
  </div>
<% end %>
  </div>
</div>