<div>
 <nav class="nav-create-usuario">
        <div class="logoAB-profile">
            <p class="p-logoAb">A&B</p>
        </div>

        <div class="profile">
            <div class="image-profile">
               
            </div>

            <h1 class="name-user">angel Gonzalez</h1>
        </div>
    </nav>
    <div class="container-Perfils-new">

     <div class="nav-perfil-imanes-cuentas">
     
      <div>
       <%= image_tag 'icon.svg'%>  <a href="/perfils/new">Perfil</a>
      </div>
      <br>
      <div>
        <%= image_tag 'icon.png' %> <a href="/galeries">Imagenes</a>
      </div>
      <br>
      <div>
       <%= image_tag 'iconCuentas.svg' %> <a href="/bank_accounts">Cuentas</a>
      </div>
     <br>
    </div>
    <div>

    </div>

    <div class="container-list-account">
     <h1>Listado de Cuentas</h1>

     <div class="addAccount">
        <a href="/bank_accounts/new" style="    
        text-decoration: none;
        color: white;
        font-size: 26px">Crear</a>
     </div>

    </div>
    <div class="index-accounts-banks">
    <%if @bankAccount%>
    
    <%@bankAccount.each do |accounts|%>
    <table class="all-accounts">
        <tr class="container-show-account">
            <td><%= accounts.entidad%></td>
            <td><%= accounts.typeAccount%></td>
            <td><%= accounts.identification%></td>
            <td><%= accounts.typeAccount%></td>
            <!--<td><%=%>imagensita</td>-->
        </tr>
    </table>
    <%end%>
    
    <%else%>
       <div class="null-accounts-banks">
       <h1 style="margin-top: 17px;">No contiene cuentas registradas</h1>
       </div>
    <%end%>
    </div>
</div>