<div>
 <%= render partial: './nav', layout: './nav' %>
   <%= render partial: './nav_desktop', layout: './nav_desktop'%>
   
    <div class="container-list-account">
     <h1>Listado de Cuentas</h1>

     <div class="addAccount">
     <%= link_to 'Crear', new_perfil_bank_account_path, :style=>"text-decoration: none;
        color: white;
        font-size: 26px" %>
       
     </div>
    </div>
   
    <div class="index-accounts-banks">
    <%if @bank_accounts%>
    <%@bank_accounts.each do |bank_account|%>
    <table class="all-accounts">
        <tr class="container-show-account">
            <td style="width: 10%;"> <p class="td-accounts-index"><%for i in 0..bank_account.entidad.length/2%><%=bank_account.entidad[i]%><%end%>..</p></td>
            <td style="width: 10%;"> <p class="td-accounts-index"><%for i in 0..bank_account.account.length/2%><%=bank_account.account[i]%><%end%>..</p></td>  
            <td style="width: 10%;"> <p class="td-accounts-index"><%for i in 0..bank_account.identification.length/2%><%=bank_account.identification[i]%><%end%>..</p></td>
            <td style="width: 10%;"> <p class="td-accounts-index"><%for i in 0..bank_account.typeAccount.length/2%><%=bank_account.typeAccount[i]%><%end%>..</p></td>
            <td style="width: 10%;"><%=link_to  edit_perfil_bank_account_path(current_user.id,bank_account) do %>
                <%=image_tag 'menu_accounts.png'%>
               <%end%></td>
            
        </tr>
    </table>
    <br>
    <br>
    <%end%>
    <%else%>
       <div class="null-accounts-banks">
       <h1 style="margin-top: 17px;">No contiene cuentas registradas</h1>
       </div>
   <%end%>
    </div>
   
</div>