<div>
 <%= render partial: './general/nav', layout: './general/nav' %>
 <%= render partial: './general/nav_desktop', layout: './general/nav_desktop'%>


  <div class="container-show-bank-account">
      <div>
        <br>
          <%="Entidad bancaria: #{@bank_account.entidad}"%>
          <hr>
      </div>

    <div>
        <br>
          <%="Email: #{@bank_account.email}"%>
          <hr>
    </div>

    <div>
        <br>
          <%="Numero de cuenta: #{@bank_account.account}"%>
          <hr>
    </div>

    <div>
        <br>
          <%="Cedula de identidad: #{@bank_account.identification}"%>
          <hr>
    </div>

    <div>
        <br>
          <%="Tipo de cuenta :#{@bank_account.typeAccount}"%>
          <hr>
    <div>
  </div>

  <div>
  <%@bank_account.each do |bank_account|%>
    <%= link_to 'editar', edit_perfil_bank_account_path(bank_account) %>
  <%end%>
  </div>

</div>