<div>
  <nav class="nav-create-usuario">
        <div class="logoAB-profile">
            <p class="p-logoAb">A&B</p>
        </div>

        <div class="profile">
            <div class="image-profile">
               
            </div>

            <h1 class="name-user">angel Gonzalez</h1>
        </div>
    </nav>
 <div class="container-Perfils-new">

     <div class="nav-perfil-imanes-cuentas">
     
      <div>
       <%= image_tag 'icon.svg'%>  <a href="/perfils/new">Perfil</a>
      </div>
      <br>
      <div>
        <%= image_tag 'icon.png' %> <a href="">Imagenes</a>
      </div>
      <br>
      <div>
       <%= image_tag 'iconCuentas.svg' %> <a href="/bank_accounts">Cuentas</a>
      </div>
     <br>
 </div>
 <div class="container-text-create-account-bank">
  <h1 class="create-account-bank">Crear cuenta</h1>
  </div>

  <div class="container-text-information-accountBank">
  <h1 style="font-size:x-large;">Informacion de la cuenta</h1>
  <p>Crea una cuenta donde las personas
  pueden agracerte.</p>
  </div>
<div class="container-create-new-bankAccount">
  <div class="container-form-bankAccount">
  <%=form_with model:@bankAccount, local:true do |f| %>
  <div>
  <br>
  <%=f.label :entidad%>
  <%=f.text_field :entidad, placeholder: @bankAccount.entidad%>
  <br>
  </div>

  <div>
  <br>
  <%=f.label :email%>
  <%=f.text_field :email, placeholder: @bankAccount.email%>
  <br>
  </div>
  <div>
  <br>
  <%=f.label :cuenta%>
  <%=f.number_field :account, placeholder: @bankAccount.account%>
  <br>
  </div>
  <div>
  <br>
  <%=f.label :identificacion%>
  <%=f.number_field :identification, placeholder: @bankAccount.identification%>
  <br>
  </div>
  <div>
  <br>
  <%=f.label :tipo_de_cuenta%>
  <%=f.text_field :typeAccount, placeholder: @bankAccount.typeAccount%>
  <br>
  <div>

  <div style="margin-left: 70%;
    width: 13%;
    position: absolute;
    margin-top: 17%;">
    <%=f.submit 'Guardar'%>
  </div>
<% end %>
  </div>
</div>


</div>