<div class="container_thanks_form_coffe">
   <div class="container_exit_coffe">
      <%= image_tag 'Vector.png',:class=>"exit" %>
   </div>
   
   <%=form_with(url:thanks_path, model: @thank, local:true) do |f|%>
   <div class="container-how-many-coffe">
      <div class="how_many_coffe">
       <p class="text-how-many-coffe">¿Cuantos café?</p>
        <div class="multiplicadores_coffe">
            <%= image_tag 'coffe.png', :class=>"coffe-image-multiplicadores" %>
            <p class="simbol-X">X</p>
          <div class="valueMultipl_coffe_thanks" value="1">1</div>
          <div class="valueMultipl_coffe_thanks" value="2">2</div>
          <div class="valueMultipl_coffe_thanks" value="3">3</div>
          <div class="valueMultipl_coffe_thanks" value="4">4</div>
          <div class="valueMultipl_coffe_thanks" value="5">5</div>
         </div>
         <p class="type-date"><%=Perfil.find_by(id:params[:perfil_id]).amountCoffe%></p>
         <p class="type-date">total:<span id="total-pay"><%=Perfil.find_by(id:params[:perfil_id]).amountCoffe%></span></p>
      </div>
    </div>
      
      <div class="container-dates-user-bank">
      <h1>Datos de Salvador</h1>
      <%@user_bank_account.each do |bank_account|%>
      <br>
      <p class="type-date">Entidad: <span class="dates"><%=bank_account.entidad%></span> </p>
      <p class="type-date">Email: <span class="dates"><%=bank_account.email%></span></p>
      <p class="type-date">Nro de cuenta:<span class="dates"><%=bank_account.account%></span> </p>
      <p class="type-date">identificacion:<span class="dates"><%=bank_account.identification%></span></p>
      <hr style="border-top: 4px solid #eeeeee;">
      <br> 
      <% end %>
      </div>
      <div class="container_date_person">   
       <p class="type-date">Nombre</p>
       <br>
       <%=f.text_field(:name, :class=>"input-thank" )%>
       <br>
       <br>
       <p class="type-date">Ocupación</p>
       <br>
       <%=f.text_field(:ocupacion, :class=>"input-thank")%>
       <br>
       <br>
       <p class="type-date">Mensaje de agradecimiento</p>
       <br>
       <%=f.text_field(:message, :class=>"input-thank-message") %>
      </div>
      <br>
       <div class="width_save">
        <%=f.submit 'Guardar', :class =>'save' %>
       </div>
      <%end%>

   </div>
