<div class="container-new-thanks">
 <%= link_to  perfil_path(Perfil.find_by(params[:id])) do%>
   <div class="container_exit_selection">
      <%= image_tag 'Vector.png',:class=>"exit" %>
   </div>
  <% end %>

  <div class="container-recognize">
    <p class="text-recognize">Formas de reconocer a Salvador</p>
  </div>

<div class="thanks-selection">
  <div class="container-image-selection">
     <%= image_tag 'coffe.png', :class => "image_coffe_thanks" %>
     <p class="text-cafe-heard">Cafe</p>
  </div>

  <div class="container-image-selection">
      <%= image_tag 'heart.png', :class=>"image_heart_thanks" %>
      <p class="text-cafe-heard">abrazo</p>
  </div>
</div>
    <%= image_tag 'empty_state.png', :class=>"image-empty" %>
  <aside class="container-text-aside">
   <p class="text-aside">Selecciona alguna de las dos opciones para continuar.</p>
  </aside>
 </div>

