
<div data-context="thanks--new">
 <div class="nav_show_perfil_logout">
      <div class="container-dates-user-logout-nav">

       <% if User.find_by(id: params[:perfil_id]).perfil.image.attached? %>
           <%=image_tag(User.find_by(id: params[:perfil_id]).perfil.image, :class=>"image-profile-logout")%> 
         <%else%>
            <%=image_tag('user_picture.jpeg')%>
        <% end %>


            <div class="name-and-ocupation">
             <h1 class="date-user-logout">
             <%=User.find_by(id: params[:perfil_id]).perfil.full_name%>
             </h1>
             <h2 class="ocupation">Ocupacion: <%=User.find_by(id: params[:perfil_id]).perfil.ocupacion%></h2>
            </div>
              <div class="logoAB-logout">
                <p class="p-logoAb">A&B</p>
              </div>
      </div>
</div>
  <%=render partial: 'selection', layout: 'selection'%>
  <%=render partial: 'form_coffe', layout: 'form_coffe'%>
  <%=render partial: 'hug', layout:'hug'%>
  <%=render partial: 'form_thanks', layout: 'form_thanks'%>
</div>