
<div data-context="thanks--new">
  <%=render partial: 'selection', layout: 'selection'%>
  <%=render partial: 'form_coffe', layout: 'form_coffe'%>
  <%=render partial: 'hug', layout:'hug'%>
  <%=render partial: 'form_thanks', layout: 'form_thanks'%>
  <%=render partial: 'thank', layout: 'thank'%>
</div>