
<div data-context="thanks--new">
  <nav  class="navthank">
        <div class="logoAB-profile-thank">
            <p class="p-logoAb-thank">A&B</p>
        </div>
        <div class="profile-thank">
            <div class="image-profile-thank">  
            </div>
            <h1 class="name-user-thank">angel Gonzalez</h1>
        </div>
    </nav>

  <%=render partial: 'selection', layout: 'selection'%>
  <%=render partial: 'form_coffe', layout: 'form_coffe'%>
  <%=render partial: 'hug', layout:'hug'%>
  <%=render partial: 'form_thanks', layout: 'form_thanks'%>
  <%=render partial: 'thank', layout: 'thank'%>
</div>