<div data-context="general--nav">
        <nav class="class_movile">
           <%= image_tag 'exit_image.png', :id => "exit-menu-movile" %>
            <div class="ABC_movile"><p>A&B</p></div>
             <div class="container_link_movile_nav">
                <%= link_to 'Perfil', perfil_path(current_user.id),:class=>"link_movile_nav" %>
             </div>

             <div class="container_link_movile_nav">
                <%= link_to 'Imagenes', perfil_galeries_path(current_user.id), :class=>"link_movile_nav"%> 
             </div>
             <div class="container_link_movile_nav">
                <%= link_to 'Cuentas', perfil_bank_accounts_path(current_user.id), :class=>"link_movile_nav" %>
             </div>
            <div class="container_link_movile_nav"><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class=>"link_movile_nav"%></div>
        </nav>

  
   <nav  class="navCreateUsuario">
        <%= image_tag 'Header.png', :class => "burguer", :id=>'menu-burger'%>
        <div class="logoAB-profile">
            <p class="p-logoAb">A&B</p>
        </div>
        <div class="profile">
        <% if User.find_by(id: params[:perfil_id]).perfil.image.attached? %>
           <%=image_tag(User.find_by(id: params[:perfil_id]).perfil.image, :class=>"image-profile")%> 
         <%else%>
            <%=image_tag('user_picture.jpeg', :class=>"image-profile" )%>
        <% end %>

            <h1 class="name-user"><%=User.find_by(id: params[:perfil_id]).perfil.full_name%></h1>
        </div>
    </nav>
</div>