   <div class="container-estados-new">
     <%=form_with model:@estado, local:true do |f|%>
      <div>
      <%=f.label :description%>
      <br>
      <%=f.text_field :description%>
      <br>
      </div>
      
      <div>
       <br>
       <%=f.file_field(:images, multiple:true)%>
       <br>
      </div>

      <br>
      <br>
      <%=f.submit 'Guardar', :class=>'save'%>
     <%end%>
    </div>