<!DOCTYPE html>
<html>
  <head>
    <title>HugsAndCoffee</title>
    <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  </head>

  <body>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
      $( document ).ready(function(){
      $('#mycarousel').carousel();
      });
    </script>
  </body>
  
</html>
